<h1>Registro de alumnos</h1>

<form #alumnosForm="ngForm" (ngSubmit)="registro()">
  <span>Nombre alumno: </span>

  <input id="nombre" name="nombre" class="form-control"
         ngModel #nombre="ngModel" sinEspacios>
  <span *ngIf="nombre.errors">Tienes espacios</span>


  <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
      class="alert alert-danger">
  <div *ngIf="name.errors.required">
     Name is required.
   </div>
   <div *ngIf="name.errors.minlength">
     Name must be at least 4 characters long.
   </div>
   <div *ngIf="name.errors.forbiddenName">
     Name cannot be bobo.
   </div>
  </div>-->
</form>
