<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ titulo_formalumnos }}</title>
  </head>
  <body>

    <h1>Registro de alumnos</h1>

    <form #alumnosForm="ngForm" (ngSubmit)="registro()">
      <span>Nombre alumno: </span>
      <!--<input id="name" class="form-control"
             formControlName="name" required
      >-->

      <input id="name" name="name" class="form-control"
             required minlength="4" forbiddenName="bob"
             [(ngModel)]="nombre" #name="ngModel" >


      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="name.errors.forbiddenName">
          Name cannot be bobo.
        </div>
      </div>
    </form>

  </body>
</html>
