<h3>{{ titulo_empleado }}</h3>

<!-- <strong>Empleado estrella</strong>
<br/> -->
<hr/>

<h4>Selector de colores: </h4>
<button (click)="logColorSeleccionado()">Mostrar color</button>
<input type="text" [(ngModel)]=colorSeleccionado/>

<pre 
	[style.border]="colorSeleccionado == 'red' ? '4px solid red' : '4px solid black'"
	[ngClass] = "{
		fondoAzul: colorSeleccionado == 'blue',
		fondoVerde: colorSeleccionado == 'green',
		letraGrande: 1 == 1
	}"

>
<!-- ngClass con array, queda fijo
	[ngClass] = "['fondoAzul','letraGrande']"
-->

<!-- Atributo del PRE 
	[class.fondoAzul]="colorSeleccionado == 'blue'" 
-->


	<strong>Color elegido:</strong> {{colorSeleccionado}}	
</pre>

<div [ngStyle] = "{
	'background':colorSeleccionado,
	'width':'50px',
	'height':'50px',
	'float':'right',
	'margin-right':'70%'
}">
	
</div>


<br>
<br>
<br>
<h3>Colores Switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{'background':color , 'color': 'white', 'padding': '20px' }">Es de color ROJO</li>
  <li *ngSwitchCase="'green'" [ngStyle]="{'background':color , 'color': 'white', 'padding': '20px' }">Es de color VERDE</li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color , 'color': 'white', 'padding': '20px' }">Es de color AZUL</li>
</ul>

<hr/>

<button (click)="cambiarExterno(true)">Mostrar externo</button>
<button (click)="cambiarExterno(false)">Mostrar interno[2]</button>

<div *ngIf = "trabajadorExterno == true">
	<ul>
		<li>{{empleado.nombre}}</li>
		<li>{{empleado.edad}}</li>
		<li>{{empleado.cargo}}</li>
		<li>{{empleado.contratado}}</li>
	</ul>
</div>

<div *ngIf = "trabajadorExterno == false">
	<ul>
		<li>{{trabajadores[2].nombre}}</li>
		<li>{{trabajadores[2].edad}}</li>
		<li>{{trabajadores[2].cargo}}</li>
		<li>{{trabajadores[2].contratado}}</li>
	</ul>
</div>

<hr/>


<h3>Listado de empleados</h3>
<ul>
	<li *ngFor="let empelado of trabajadores; let pos = "index">
    Empleado <strong>{{pos + 1}}:</strong>
		<ul>
			<li> {{empleado.nombre}} </li>
			<li> {{empleado.edad}} </li>
			<li> {{empleado.cargo}} </li>
			<li> {{empleado.contratado}} </li>
		</ul>
	</li>
</ul>

<hr/>

<!--
Tipos de directivas:
1. Directivas condicionales: *ngIf
2. Directivas de eventos: (click)
3. Directivas de Binding: [ngSwitch]
-->














