<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Curso de Angular 4 - Jose Montoya </h2>
<hr>
<!-- <app-fruta></app-fruta> -->
<!--<app-empleado></app-empleado>-->
<!-- <comp-hijo [nombre]="'Jose'" [app]="'Montoya'"></comp-hijo> -->

<nav>
  <a [routerLink]="['/app-home']" [routerLinkActive]="['activado']">Home</a> |
  <a [routerLink]="['/app-fruta']" [routerLinkActive]="['activado']">Fruta</a>|
  <a [routerLink]="['/app-empleado']" [routerLinkActive]="['activado']">Empleado</a> |
  <a [routerLink]="['/app-contacto']" [routerLinkActive]="['activado']">Contacto</a> |
  <a [routerLink]="['/app-superhero']" [routerLinkActive]="['activado']">SuperHero</a> |
  <a [routerLink]="['/app-coches']" [routerLinkActive]="['activado']">Coches</a> |
  <a [routerLink]="['/app-formulario']" [routerLinkActive]="['activado']">Formulario</a> |
  <a [routerLink]="['/app-formulario2']" [routerLinkActive]="['activado']">Validaciones</a>
</nav>

<router-outlet></router-outlet>
